@model Eventos.IO.Application.VIEWMODELS.EventoViewModel

@{
    ViewData["Title"] = "Incluir Endereço";
}

<div class="modal-header">
    <h4 class="modal-title">@ViewData["Title"]</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
    </button>
</div>

<form asp-action="IncluirEndereco">
    <div class="modal-body">

        <partial name="_Endereco" />

        <div class="modal-footer">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adicionar Endereço" class="btn btn-success"/>
                <input type="button" class="btn btn-info" value="Fechar" data-dismiss="modal"/>
            </div>
        </div>

    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        ValidacoesEvento();
        $(document).ready(function () {
            SetModal();
        });

    </script>
}